<html>
  <head>
    <style>
      /* Same style as above */
    </style>
  </head>
  <body>
    <div class="container">
      <h2>Collaboration Invitation</h2>
      <p>{{inviterName}}
        has invited you to collaborate on the proposal "{{proposalTitle}}".</p>
      <p>Click the button below to accept the invitation and start
        collaborating:</p>
      <a href="{{inviteUrl}}" class="button">Accept Invitation</a>
    </div>
  </body>
</html>